.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# Node Scripts
analyze_edge.js
analyze_gif.js
fix_gifs.js
flood_fill_gif.js
*.zip
